<nav class="navbar navbar-expand-lg  fixed-top navbar-dark primary-color">
    <!-- Navbar brand -->
    
    <a class="navbar-brand pl-5" href="/">USC Films</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div  id="basicExampleNav" class="collapse navbar-collapse">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  routerLink="/">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/mylist">My List</a>
        </li>
      </ul>
      <!-- Links -->
      <ngbd-typeahead-template class="pr-5"></ngbd-typeahead-template>
    </div>
    <!-- Collapsible content -->
  </nav>