.carousel-control-next {
    right: -10%;
  }
  .carousel-control-prev {
    left: -10%;
  }
  
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: black;
  }
  
  #carousel2{
    width:100%;
  }
  #carousel2 img{
    height: 450px;
    width:350px;
    object-fit: cover;
  }