<ngb-carousel  *ngIf="results!=null" [interval]="2500" id="myCarousel1">
    <ng-template ngbSlide *ngFor="let result of results">
      <a  [routerLink]="['/watch/movie/',result['id']]">
      <div class="picsum-img-wrapper">
        <div class="imagediv">
        <img class="imageimg" [src]= "'https://image.tmdb.org/t/p/original/' + result['backdrop_path']" >
        <div class="bottomtext">
          <div class="title"> <p class="wrappertext">{{result['name']}}</p> </div>
        </div>
        </div>
      </div>
    </a>
    </ng-template>
  </ngb-carousel>

  
  